html, body {
    height:100%;
    background-color: #666699;
  }
  .disp {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
    background-color: #666699;
    text-align: center;
    color: white;
    }
  
  .well {
    background-color: #ffffee
  }
  
  #content1 {
    padding: 5% 25% 5%;  
  }
  
  .search-form {
    border-radius: 30px 0 0 30px;
  }
  
  .input-group {
    width:100%;
  }
  
  input-group-btn {
    max-width:38px;
  }
  
  #search {
    border: 1px;
  }
  
  .search-btn {
    cursor:pointer;
    border-radius: 0 30px 30px 0; 
    background-color:#fff;
    color:#669;
    
  }
  
  .text-center {
    color: #fff;
  }
  h1 { color: #ffffff; font-family: 'sans-serif'; text-align:center; font-size: 54px; padding:5% 25% 5% ; font-weight: 3; line-height: 50px; margin: 0 0 0px; }